# Django
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
POSTGRES_DB=cmscout
POSTGRES_USER=cmscout
POSTGRES_PASSWORD=cmscout123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# API Keys
API_FOOTBALL_KEY=
THE_ODDS_API_KEY=

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=CM Scout <noreply@scoutbet.com>

# Site
SITE_ID=1
